<section class="hero">
  <img class="hero-img" src="/assets/banner.jpg" alt="Banner" loading="eager">

  <!-- LOGO sobre el banner -->
  <img
    class="hero-logo"
    src="/assets/legacy/hero/Logo3.png"
    alt="Future"
    width="540" height="160"
  />

  <!-- CTA (opcional) -->
  <div class="hero-overlay-cta">
    <p style="font-family: 'Press Start 2P', cursive;color: black;">Explora nuevos mundos virtuales</p>
    <a routerLink="/catalogo" class="btn primary">Ver catálogo</a>

  </div>
</section>

