
<section class="catalog-hero">
  <img class="catalog-hero-img" src="/assets/banner.jpg" alt="Banner" loading="eager">
  <img
      class="hero-logo"
      src="/assets/legacy/hero/Logo3.png"
      alt="Future"
      width="540" height="160" />

  <div class="hero-overlay-cta">
    <p style="font-family: 'Press Start 2P', cursive;color: black;">Explora nuevos mundos virtuales</p>
  </div>
</section>

<h2 style="font-family: 'Press Start 2P'">Catálogo</h2>
<div class="grid" id="catalog-grid">
  @for (game of games(); track game.id) {
    <div class="card">
      <img class="media" [src]="game.cover" alt="">
      <div class="body">
        <div>
          <h3 class="title">{{ game.title }}</h3>
          <p class="price">
            <span class="badge" *ngIf="game.hasDiscount">Oferta</span>
            {{ game.price | currency }}
          </p>
        </div>
        <p-button
          icon="pi pi-eye"
          [rounded]="true"
          severity="contrast"
          (click)="openGameInNewTab(game.id)"
          aria-label="Ver detalle"
        ></p-button>
      </div>
    </div>
  }
</div>
