<div class="container">
  <p-panel header="¿Qué haremos hoy?" class="panel">
    <div class="quick-grid">
      <p-card class="quick-card" header="CATEGORIAS">
        <div class="actions"><a routerLink="/" class="link"><div class="icon-wrap">
          <i class="pi pi-calculator" aria-hidden="true"></i></div>
        Entrar</a></div>
      </p-card>

      <p-card class="quick-card" header="CONSOLAS">
        <div class="actions"><a routerLink="/" class="link"><div class="icon-wrap">
          <i class="pi pi-desktop" aria-hidden="true"></i></div>
        Entrar</a></div>
      </p-card>

      <p-card class="quick-card" header="VIDEOJUEGOS">
        <div class="actions"><a routerLink="/list-videogames" class="link"><div class="icon-wrap">
            <i class="pi pi-prime" aria-hidden="true"></i></div>
        Entrar</a></div>
      </p-card>

      <p-card class="quick-card" header="PROMOCIONES">
        <div class="actions"><a routerLink="/" class="link"><div class="icon-wrap">
            <i class="pi pi-wallet" aria-hidden="true"></i></div>
        Entrar</a></div>
      </p-card>

      <p-card class="quick-card" header="EMPLEADOS">
        <div class="actions"><a routerLink="/empleados" class="link"><div class="icon-wrap">
            <i class="pi pi-users" aria-hidden="true"></i></div>
          Entrar</a></div>
      </p-card>
    </div>
  </p-panel>

</div>
